@font-face {
    font-family: 'Zabars';
    src: url(fonts/Zabars.ttf);
}

@font-face {
    font-family: 'Boogaloo';
    src: url(fonts/Boogaloo-Regular.ttf);
}

body {
    font-family: 'Boogaloo', Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(/img/window-backdrop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

h1 {
    position: absolute;
    top: 32px;
    font-size: 72px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 2px 6px black;
    margin-top: 0;
    margin-bottom: 16px;
    user-select: none;
    text-align: center;
}

canvas {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0);
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

.control-panel {
    position: relative;
    z-index: 2;
    min-height: 100%;
    width: 0;
    height: 0;
}

.buttons {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: unset;
    user-select: none;
}

.buttons img {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.buttons img:hover {
    transform: scale(1.05);
}

.start-btn {
    bottom: 218px;
    user-select: none;
}

.start-btn img {
    width: 240px;
    height: 120px;
}

.fullscreen-btn {
    min-width: 100%;
    bottom: -64px;
    right: -316px;
}

.play-btn {
    top: -383px;
    right: -266px;
}

.sound-btn {
    top: -423px;
    right: -322px;
}

.main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

