@font-face {
    font-family: 'Zabars';
    src: url(fonts/Zabars.ttf);
}

@font-face {
    font-family: 'Boogaloo';
    src: url(fonts/Boogaloo-Regular.ttf);
}

body {
    font-family: 'Boogaloo', Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    background-image: url(/img/window-backdrop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.legal-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.legal-div a {
    color: white;
    text-decoration: none;
    margin-top: 16px;
    margin-right: 16px;
    text-shadow: 4px 2px 6px rgba(0, 0, 0, 0.2);
}

h1 {
    /* position: absolute; */
    top: 32px;
    font-size: 72px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 2px 6px black;
    margin-top: 0;
    margin-bottom: 16px;
    user-select: none;
    text-align: center;
}

canvas {
    /* position: absolute; */
    z-index: 0;
    background-color: rgba(0, 0, 0);
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

.control-panel {
    position: relative;
    z-index: 1;
    min-height: 100%;
    width: 0;
    height: 0;
}

.buttons {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: unset;
    user-select: none;
}

.buttons img {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.buttons img:hover {
    transform: scale(1.05);
}

.start-btn {
    bottom: 218px;
    user-select: none;
}

.start-btn img {
    width: 240px;
    height: 120px;
}

.fullscreen-btn {
    min-width: 100%;
    bottom: -64px;
    right: -316px;
}

.play-btn {
    top: -383px;
    right: -266px;
}

.sound-btn {
    top: -423px;
    right: -322px;
}

.faq-btn {
    top: -463px;
    right: -209px;
}

.main-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#faq {
    width: 660px;
    height: 400px;
    z-index: 2;
    background-color: rgba(252, 193, 15, 0.9);
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);

}

.instruction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.close-icon {
    color: white;
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding-top: 16px;
    margin-right: 20px;
    font-size: 40px;
    transition: 20ms ease-out;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: 0px;
    color: white;
    text-shadow: 4px 2px 6px rgba(0, 0, 0, 0.2);
    user-select: none;
}

table {
    color: white;
    font-size: 32px;
    border-spacing: 8px;
    text-shadow: 4px 2px 6px rgba(0, 0, 0, 0.2);
    user-select: none;
}

th,
td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 22px;
    padding-right: 22px;
}